@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.aplayer-wrap{
    border:1px solid rgb(177, 177, 177);
    padding:1rem;
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
}
.aplayer-btn {
    min-width: 4rem;
    text-align:center;
    min-height: 3rem;
    border-radius: 0;
    background-color: #4663ff;
    padding: 1rem;
    cursor: pointer;
    transition:all 0.5s;
    display:inline-block;
}
.aplayer-btn:hover{
    background-color: #3d52c4;
}
.aplayer-btn img{
    max-width:1rem;
    max-height:auto;
}
.aplayer-range{
    margin-top:1rem;
    width:100%;
    border:0px solid black!important;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.aplayer-range input[type=range]::-webkit-slider-thumb{
    color:black;
}

/* Special styling for WebKit/Blink */
.aplayer-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.aplayer-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
.aplayer-playlist-item{
    background:rgb(201, 201, 201);
    padding:0.25rem;
    cursor: pointer;
    transition:all 0.5s;
    border-bottom:2px solid rgb(177, 177, 177);
    font-size:0.75rem;
}
.aplayer-playlist-item:hover{
    background:rgb(138, 138, 138);
}
.aplayer-active-playlist-item{
    background:rgb(57, 112, 194);
    color:white;
}
.aplayer-active-playlist-item:hover{
    background:rgb(48, 94, 161)!important;
}
.aplayer-playlist-wrap{
    margin-top:1rem;
}